<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title_value}}</title>
    <!-- Here we need to use the static Site path because you are using rendering engine -->
    <link rel="stylesheet" href="../static/css/style.css"
  </head>
  <body>
<h3>{{message_h3}}</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi doloremque
  ullam pariatur nemo perspiciatis animi impedit ab doloribus optio. Dolorem
  velit rerum sapiente molestias. Deserunt ratione sit perspiciatis numquam
  sint.</p>
  {{{body}}} <!-- This will render index.hbs ==> body is a reserved Keyword -->
</body>
</html>