
body {
    margin: 0%;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
  }

  /* When the viewport width is between 30em - 80em */
@media screen and (min-width: 0px) and (max-width: 329px) {
  * {
    display: none;
  }
}
@media (min-width:320px)  {
    body{font-size: 8px;
    }
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { 
    body{font-size: 10px;
    }
}

  .chat-container {
     display: flex;
     flex-direction: column;
     width: 95vw;
     height: auto;
     max-width: 600px;
     background-color: coral;
     justify-content: space-around;
     align-items: center;
     border-radius: 1em;
     border: solid .1em;
     padding-bottom: 1em;
     margin-top: 8em;
  }

  .guest-container{
    margin-top: 1em;
    width: 95%;
    height: auto;
    background-color: rgb(139, 136, 232);
    border: solid .1em;
    border-radius: 1em;
    display: flex;
    font-size: .6em;
    justify-content: center;
    align-items: center;
  }
  .child-container {
    margin-top: 1em;
    width: 95%;
    height: auto;
     background-color: blueviolet;
     border-radius: 1em;
     display: flex;
     justify-content: center;
     align-items: center;
     border: solid .1em;
  }
  .guest-container>text 
  {
    width: auto;
    font-size: 3em;
    margin: .5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  #userName {
    height: auto;
    margin: .5em;
    width: auto;
    border-radius: .25rem;
    border: solid .1rem;
    font-size: 2em;
  }
  #overlay > button {
    width: auto;
    padding-left: 2em;
    padding-right: 2em;
  }
  


  #privateUserName {
    height: auto;
    margin: .5em;
    width: auto;
    border-radius: .25rem;
    border: solid .1rem;
    font-size: 2.5em;
  }

  select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }


  #floatingTextareaForWriting ,#floatingTextareaForReading {
    resize: none;
    width: 95%;
    min-height: 180px;
    border-radius: .5em;
    margin: .3em;
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    font-style: italic;
    border: solid .1rem;
  }

  #button-container{
    justify-content: space-evenly;
  }
  button {
    border: solid .1rem;
    width: 48%;
    height: auto;
    border-radius: .2em;
    margin: .2em;
    font-size: 2em;;
    background-color: darkkhaki;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #siteConn {
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
    padding: 15px 15px 15px 15px;
    border-radius: .5em;
    border: solid .1em;
    z-index: 1200;
  }

  #overlay {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(135, 223, 193, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.heading-container {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(124, 221, 158);
    color: rgb(0, 0, 0);
    border-radius: 1em;
    margin-top: 1em;
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
    border: solid .1em;
}


#overlay >  h1  {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(146, 32, 203);
    color: aliceblue;
    padding: 1.2em;
    border-radius: .5em;
    font-size: 1.5em;
    border: solid .1em;
}